body {
	font-family: sans-serif;
	background-color: lightblue;
	color: navy;
	text-align: center;
}

img {
	height: 80%;
	margin: 10px;
}

.boxes {
	width: 80%;
	height: 150px;
	display: flex;
	justify-content: space-around;
	align-items: center ;
	border: navy 5px double;
	margin: 10px auto;
	background-color: cornsilk;
}

.content {
	background-color: Peach;
	padding: 2px 20px;
	height: 80%
	border: indigo 2px solid;
}